<template>
  <div>
    <h2>List Student</h2>
    <ul>
      <li v-for="item in students" :key="item.id">
        Name: {{ item.name }} and Age: {{ item.age }}
      </li>
    </ul>
    <button @click="onAddStudent">add Student</button>
  </div>
</template>

<script>
import { deepClone } from "../utils";
export default {
  name: "AboutPage",
  data() {
    return {
      msg: "Variable from Parent Component",
      students: [
        { name: "Thuc", age: 20, id: 1 },
        { name: "Hai", age: 18, id: 2 },
      ],
    };
  },
  methods: {
    testEvent(value) {
      this.msg = value;
    },
    onAddStudent() {
      // this.students = [...this.students, { name: "Van", age: 31, id: 3 }];
      this.students = deepClone([...this.students, { name: "Van", age: 31, id: 3 }]);
      console.log("students: ", this.students);
    },
  },
};
</script>

<style></style>
