<template>
  <div class="hello-word">
    <HelloWorld @testEvent="testEvent" :msg="msg">
      This is children
    </HelloWorld>
    <p>Count store at Vuex {{ count }}</p>
    <p>Get Count by Getter {{ count }}</p>
  </div>
</template>

<script>
import HelloWorld from "./HelloWorld.vue";
import mixin from "../mixins/mixin";
import { mapGetters, mapState } from "vuex";

export default {
  name: "HelloWordParent",
  mixins: [mixin],
  components: {
    // every Component want use
    HelloWorld,
  },
  data() {
    return {
      msg: "Variable from Parent Component",
    };
  },
  methods: {
    testEvent(value) {
      this.msg = value;
    },
  },
  created() {
    console.log("isMobile", this.isMobile);
    console.log("mapState", this.$store);
  },
  computed: {
    ...mapState("countStore", ["count"]),
    ...mapGetters("countStore", ["getCount"])
  },

  // ===============> tìm hiểu Vue:  https://viblo.asia/p/tim-hieu-ve-vuejs-co-ban-p1-Do754bpWZM6
};
</script>

<style>
</style>
