<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h1><slot> </slot></h1>
    <!-- Slot file Children -->
    <p v-html="msg"></p>
    <!-- use if msg like element -->
    <p v-if="msg">{{ msg }}</p>
    <p>name: {{ name }}</p>
    <p :data-alt="name | formatName('!')">name: {{ name | formatName("!") }}</p>

    <!-- event -->
    <h2 :class="{ isHide: count === 3 }">{{ count }}</h2>
    <button @click="handleClick()">Add Count</button>

    <!-- form -->
    <form v-on:submit.prevent="handleSubmit()">
      <input v-model="people.name" placeholder="Input name" />
      <input v-model.trim="people.age" placeholder="Input age" />
      <button :disabled="!people.name || !people.age">Add person</button>
    </form>

    <tbody>
      <tr v-for="item in peoples" :key="item.age">
        <td>Name: {{ item.name }}</td>
        <td>Age: {{ item.age }}</td>
        <td>{{ item.age > 18 ? "Đủ tuổi đi tù" : "Còn là thiếu nhi" }}</td>
      </tr>
    </tbody>
  </div>
</template>

<script>
export default {
  name: "HelloWorld", // name off Component
  // props pass from Parent Component use it
  props: {
    msg: String,
  },
  // props:["msg"]

  // =======> every variable at here
  data() {
    return {
      name: "Lê Trung Thực",
      isDisable: true,
      count: 0,
      peoples: [
        { name: "Nam", age: 17 },
        { name: "Lâm", age: 34 },
      ],
      people: {
        name: "",
        age: null,
      },
      positions: [
        { id: 1, name: "thuc" },
        { id: 2, name: "nam" },
        { id: 3, name: "Kien" },
      ],
      positions2: [
        { id: 4, name: "thuc" },
        { id: 5, name: "nam" },
        { id: 6, name: "Kien" },
      ],
      positionSelects: [],
      arrSelect: [
        {
          title: "氏名",
          id: "positions",
          keyId: "id",
          keyName: "name",
          placeholder: "選択してください",
          options: this.positions,
        },
        {
          title: "氏名2",
          id: "positions2",
          keyId: "id",
          keyName: "name",
          placeholder: "選択してください2",
        },
      ],
    };
  },

  // ============> every function at Component
  methods: {
    handleClick() {
      this.count = this.count + 1;
      this.$store.dispatch("countStore/changeCount", this.count);
    },
    handleSubmit() {
      this.peoples = [...this.peoples, this.people];
      this.people = {};
      // pass data form Children to Parent Component
      this.$emit("testEvent", "Good morning");
    },
  },

  // Kiểm tra lại xem các tham số trong hàm có thay đổi không, từ đó mới tính toán lại hàm
  // Giống với useMemo
  //  gọi thì không thêm () => không thể nhận tham số
  // https://viblo.asia/p/bai-5-su-dung-computed-trong-vuejs-su-khac-nhau-giua-computed-va-methods-Do754MMQKM6
  computed: {},

  // Hoạt động giống pipe trong Angular
  // có thể truyền nhiều hàm {{ name | filterA | filterB | filterC }}
  filters: {
    formatName(value, char) {
      if (!value) return "";
      value = value.toString();
      return value.toUpperCase() + char;
    },
  },

  //  lifecycle-hooks-
  beforeCreate() {
    console.log("before create:", this.name);
    // khi này this.content trả về undefined vì data chưa được nhận (observe).
  },
  created() {
    console.log("created", this.name);
    // quá trình observe data, thiết lập event đã hoàn thành.
    // call api
  },

  mounted() {
    console.log("mounted");
    // lúc này có thể truy cập được tới các thành phần trong DOM
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
.isHide {
  display: none;
}
</style>
