<template>
  <div id="app">
    <div class="router-demo">
      <router-link to="/hello"><p>Hello</p></router-link>
      <router-link to="/about"><p>About</p></router-link>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
